# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# Build
build/
DerivedData/
*.build/
*.o
*.LinkFileList
*.hmap

# Index
Index.noindex/
IndexStores/

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Instruments
*.trace

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# IDE
*.idea/
*.vscode/

# Temporary files
*.swp
*.swo
*~
